*{
    margin: 0;
    padding: 0;
}

.track{
    margin-right: 20px;
    text-align: center;
}

.all{
    text-align: center;
    margin-bottom: 30px;
}

.Manage{
    text-align: center;
    margin-right: 40px;
    margin-bottom: 30px;
}

.hero_tag{
    padding: 10px 40px;
    font-size: 12px;
    border: 0.5px solid #AFA9EC;
    border-radius: 20px;
    background: #EEEDFE;
    color: #3c3489;

}